.profil{
    background-color: #25344F;
    justify-items: center;
    margin: auto;   
    padding: 20px;
}

.profil img{
    border-radius: 50%;
    border-style: solid;
    border-color: #f0ffff;
    border-width: 4px;
    width:120px;
    height:120px;
    background-color: #95a5a6;
    justify-self: center;
}

.nom, .study{
    font-size: 18pt;
    color: #f0ffff;
}

.contact{
    background-color: #617891 ;
    justify-content: left;
    color: #f0ffff;
}

 .nav-tabs {
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;         
    padding: 0 40px;
}

.nav-tabs .nav-link {
    color: #495057;
    border: none;
    padding: 15px 25px;
    font-weight: 500;
    background: transparent;
}

.nav-tabs .nav-link:hover {
    color: #2c3e50;
    border-bottom: 3px solid #3498db;
}

.nav-tabs .nav-link.active {
    color: #2c3e50;
    background: white;
    border: none;
    border-bottom: 3px solid #1885f1;
}

.tab-content h2{
    border-bottom: 2px solid #95a5a6;
    margin: 10px auto;
}

.tab-content p{
    text-align: center justify;
    margin: 20px auto;
}

.card{
    width: fit-content;
    margin: 50px;
 }

 .change{
    color:#1885f1;
 }

